<div class="row">
    
    <div class="span3" id="hozz-left">
        <div id="logo-image">
            <img alt="Hongwei" class="hozz-img-polaroid" src="/uploads/company/logo/3/hongwei.jpg">
        </div>
        <div class="hozz-owner-con">
            <div class="hozz-owner-header">公司资料</div>
            <div class="hozz-owner-content">
                <ul>
                    <li class="hozz-com-item">公司概述</li>
                    <li class="hozz-com-item">施工效果</li>
                    <li class="hozz-com-item">经典案例</li>
                    <li class="hozz-com-item">公司动态</li>
                    <li class="hozz-com-item">公司特色</li>
                    <li class="hozz-com-item">评论/打分</li>
                </ul>
            </div>
        </div><!-- end hozz-owner-con -->
    </div><!-- end span3 -->

    <div class="span11">
        <div class="row hozz-company-title-div2">
            <div class="hozz-title">宏伟建筑</div>
            <div class="row">
                <div class="span4">
                    <div class="hozz-phone"></div>
                    <div class="hozz-phone-con">151515151</div>
                </div>
                <div class="span3 hozz-cont">
                    <div>
                        <div id="hozz-button">经典案例</div>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!--end row -->
        <div class="hozz-demo-wraper-div2">
           
        </div>
    </div>
    

</div>
