<div class="row" id="show-company">
	
    <div class="span3" id="hozz-left">
        <div id="logo-image">
            <img alt="Hongwei" class="hozz-img-polaroid" src="/uploads/company/logo/3/hongwei.jpg">
        </div>
        <div class="hozz-owner-con">
            <div class="hozz-owner-header">公司资料</div>
            <div class="hozz-owner-content">
                <ul>
                    <li class="hozz-com-item">公司概述</li>
                    <li class="hozz-com-item">施工效果</li>
                    <li class="hozz-com-item">经典案例</li>
                    <li class="hozz-com-item">公司动态</li>
                    <li class="hozz-com-item">公司特色</li>
                    <li class="hozz-com-item">评论/打分</li>
                </ul>
            </div>
        </div><!-- end hozz-owner-con -->
    </div><!-- end span3 -->

    <div class="span11">
        <div class="row hozz-company-title-div2">
            <div class="hozz-title">宏伟建筑</div>
            <div class="row">
                <div class="span4">
                    <div class="hozz-phone"></div>
                    <div class="hozz-phone-con">151515151</div>
                </div>
                <div class="span3 hozz-cont">
                    <div>
						<div id="hozz-button">施工效果>图集1</div>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!--end row -->
        <div class="hozz-demo-wraper-div2">
            <div class="div2" style="background-color:white;padding:40px 0 50px 50px;border:1px solid #E3E3E3; width:820px">
                <div class="floatLeft">
                    <div id="sliderFrame">
                        <div id="slider">
                            <img src="uploads/demo/image/4/201101201452541491.jpg" alt="#slideshow-1" title="Welcome to Menucool jQuery Slideshow" />
                            <b data-src="uploads/demo/image/4/201101201452541491.jpg" data-alt="#slideshow-2"></b>
                            <b data-src="uploads/demo/image/4/201101201452541491.jpg" data-alt="#slideshow-3"></b>
                            <b data-src="uploads/demo/image/4/201101201452541491.jpg" data-alt="#slideshow-4"></b>
                            <b data-src="uploads/demo/image/4/201101201452541491.jpg" data-alt="#slideshow-5"></b>
                            <b data-src="uploads/demo/image/4/201101201452541491.jpg" data-alt="#slideshow-6"></b>
                            <b data-src="uploads/demo/image/4/201101201452541491.jpg" data-alt="#slideshow-7"></b>
                            <b data-src="uploads/demo/image/4/201101201452541491.jpg" data-alt="#slideshow-8"></b>
                            <b data-src="uploads/demo/image/4/201101201452541491.jpg" data-alt="#slideshow-9"></b>
                            <b data-src="uploads/demo/image/4/201101201452541491.jpg"  data-alt="#slideshow-10"></b>
                            <b data-src="uploads/demo/image/4/201101201452541491.jpg"  data-alt="#slideshow-11"></b>
                            <b data-src="uploads/demo/image/4/201101201452541491.jpg"  data-alt="#slideshow-12"></b>
                        </div>
                    </div>
                </div>
                <div class="floatLeft">    
                    <div id="mcts1">
                        <img src="uploads/demo/image/4/201101201452541491.jpg"  width="100" height="48" />
                        <img src="uploads/demo/image/4/201101201452541491.jpg" width="100" height="48" />
                        <img src="uploads/demo/image/4/201101201452541491.jpg" width="100" height="48" />
                        <img src="uploads/demo/image/4/201101201452541491.jpg" width="100" height="48" />
                        <img src="uploads/demo/image/4/201101201452541491.jpg" width="100" height="48" />
                        <img src="uploads/demo/image/4/201101201452541491.jpg" width="100" height="48" />
                        <img src="uploads/demo/image/4/201101201452541491.jpg" width="100" height="48" />
                        <img src="uploads/demo/image/4/201101201452541491.jpg" width="100" height="48" />
                        <img src="uploads/demo/image/4/201101201452541491.jpg" width="100" height="48" />
                        <img src="uploads/demo/image/4/201101201452541491.jpg" width="100" height="48" />
                        <img src="uploads/demo/image/4/201101201452541491.jpg" width="100" height="48" />
                        <img src="uploads/demo/image/4/201101201452541491.jpg" width="100" height="48"/>
                    </div>
                </div>
                <div style="clear:both;"></div>  
                <div style="display:none;">
                    <div id="slideshow-1">
                        <h3>Welcome to Menucool jQuery Slideshow</h3>
                        This demo shows how the jQuery slideshow (or Thumbnail Slider if using the pure JavaScript) can work together with the JavaScript Image Slider.
                    </div>
                    <div id="slideshow-2">
                        <h3>Enhanced Slideshow Effect</h3>
                        The jQuery Slideshow/thumbnail slider works nicely together with the JavaScript Image Slider which greatly enhanced the slideshow with an added aesthetic appeal.
                    </div>
                    <div id="slideshow-3">
                        <h3>SEO Friendly</h3>                    
                        The markup is valid HTML5 and SEO optimzied, with all content always being available to search engines. 
                    </div>
                    <div id="slideshow-4">
                        <h3>A Tool for Web Designer</h3>
                        Its goal is to simplify the process of creating professional image/content slideshow for the web and mobile devices. This jQuery Slideshow will entertain your audience while scrolling what feature your website has.
                    </div>
                    <div id="slideshow-5">
                        <h3>JavaScript Image Slider is driven by the jQuery/Thumbnail Slideshow</h3>                    
                        Each slide of the JavaScript Image Slider is triggered by the thumbnaail scrolling.
                    </div>
                    <div id="slideshow-6">
                        <h3>Rich HTML</h3>                    
                        Rich HTML content can be added to the thumbnails, or to the description of each JavaScript Image Slider slide. 
                    </div>
                    <div id="slideshow-7">
                        <h3>Fully Customizable</h3>                    
                        The jQuery Slideshow, or Thumbnail Slider if using the pure JavaScript, can be horizontal or vertical, and its styles and behaviors are fully customizable by tweaking the CSS and the JavaScipt. 
                    </div>
                    <div id="slideshow-8">
                        <h3>Varying Width, or Varying Height</h3>                    
                        The varying size (either varying width for the horizontal jQuery slideshow, or varying height for the vertical slider) is allowed for the thumbnails. 
                    </div>
                    <div id="slideshow-9">
                        <h3>A Great Way to Showcase Your Products</h3>                    
                            It is a perfect way to showcase your products. This script allows you to easily animate any series of elements, by sequentially scrolling them.
                    </div>
                    <div id="slideshow-11">
                        <h3>Wide Browsers and Devices Support</h3>                    
                        The carousel is completely configurable and compatible with all major browsers (including ie6+, Firefox Chrome, Opera, Safari) and mobile platforms like iphone / ipad. 
                    </div>
                    <div id="slideshow-12">
                        <h3>A Great Carousel</h3>  
                        Use this stunning carousel to entertain your readers while scrolling what feature your website has. It has a very smooth user interface that gives your slider an added aesthetic appeal. 
                    </div>
                    <div id="slideshow-10">
                        <h3>Easy to Use</h3>                    
                        Enhance your website by adding a unique and attractive slider! And it is easy: download, copy & paster, tweak the styles to your desires. Well, that's it.
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
