<li class="demo-content">
	<div class="thumbnail">
		<%= image_tag demo.image_url , :width => 171, :height => 128 %>
		<div class="caption">
			<p><%= link_to demo.title, demos_path(demo)%></p>
		</div>
	</div>
</li>
