<% provide(:title, '经典案例') %>
<div class="row">
	<div class="span2"></div>
	<div class="span10">
		<div>
			<ol class="breadcrumb">
				<li><%= link_to '首页', root_path, :target=>'_blank'%></li>
				<li><%= link_to @company.name, company_path(@company), :target=>'_blank'%></li>
				<li class="active">样板间</li>
			</ol>
		</div>
		<div class="demo-title">
			<%= @demo.title %>
		</div>
		<div><%= sanitize @demo.introduction %></div>
	</div>
</div>
