<% provide(:title, '经典案例') %>
<div class="row" id="show-company">
	<div class="span2"></div>
	<div class="span10">
		<div><%= @demo.title %></div>
		<div><%= sanitize @demo.introduction %></div>
	</div>
</div>
