<% provide(:title, "花括号|"+@demo.title) %>
<div class="row">
	<div class="col-md-8">
		<div>
			<ol class="breadcrumb">
				<li><%= link_to '首页', root_path, :target=>'_blank'%></li>
				<li><%= link_to @company.name, company_path(@company), :target=>'_blank'%></li>
				<li class="active">样板间</li>
			</ol>
		</div>
		<div class="demo-title">
			<h4><%= @demo.title %></h4>
		</div>
		<div class="demo-content"><%= sanitize @demo.introduction %></div>
	</div>
</div>
