<div class="newst-article">
	<div class="newst-article-header">文章分类</div>
	<div class="newst-article-content">
		<ul>
			<% @categories.each do |category| %>
				<li>
					<%= link_to category_path(category), class:"slider-category" do%>
						<%= category.category %><span><%= category.articles.count %></span>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
</div>

