<div class="command-article">
	<div class="command-article-header">推荐文章</div>
	<div class="command-article-content">
		<ul>
			<% @recommend_articles.each do |recommend_article| %>
				<li><%= link_to recommend_article.title , article_path(recommend_article) %></li>
			<% end %>
		</ul>
	</div>
</div>

