<div class="row">
	<%= render "side" %>
	<div class="span6">
		<div>
			<h3>欢迎使用collection后台管理系统</h3>
			<div>
				在这里你可以自由的编辑自己公司的各种信息，
				让你们公司的信息顺畅个展示给每个需要他们的人。
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<strong>基本信息的介绍</strong>
			</div>
			<div class="span2">
				<strong>经典案例介绍</strong>
			</div>
			<div class="span2">
				<strong>工程管理介绍</strong>
			</div>
		</div>

	</div>
</div>

	
