<h3>Users</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<div class="row">
	<div class="span6">
		<ul class="nav">
			<li><%= link_to 'Users', users_path %></li>
			<li><%= link_to 'Companies', companies_path %></li>
		</ul>
	</div>
	<div class="span6">
		content
	</div>
</div>

	
