<div class="cus-home">
	<% if @indexImages != nil %>
		<%= render "index_images" %>
	<% end %>
	<div class="row cus-home-below">
		<% if @recently_articles != nil %>
			<%= render "knowledge" %>
		<% end %>
		<div id="index-about-braces" class="col-md-3">
			<div class="index-about-braces-header">关于花括号</div>
			<div class="index-about-braces-content">
				这是一个全新的，一站式体验的装修类网站
			</div>
		</div>
	</div>
</div>
