<div class="cus-home">
	<% if @indexImages != nil %>
		<%= render "index_images" %>
	<% end %>
	<div class="row cus-home-below">
		<% if @recently_articles != nil %>
			<%= render "knowledge" %>
		<% end %>
		<div id="index-about-braces" class="col-md-3">
			<div class="index-about-braces-header">关于花括号</div>
			<div class="index-about-braces-content">
        我们只是想分享更多的关于装修的知识，为最好的装修公司
        提供一个展示他们实力的平台，让更多的人可以明明白白，
        踏踏实实的装修自己的家！
			</div>
		</div>
	</div>
</div>
