<p>公司列表</p>
<ul>
		<% @companies.each do |company| %>
			<li>
				<div class="names-li">
					<%= link_to company.name, company %>｜
					<%= company.category%>
				</div>
				<div class="star"><ul></ul></div>
			</li>
		<% end %>
</ul>
