// admins/company
#companyid{
	display:none;
}
.adm-company-info-item{
	margin-bottom: 20px;
	background: #DEEBF7;
	border-radius: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom:10px;
}

