//All style
//这部分样式应该拿到单独的文件中
html {
  overflow-y:scroll;
}
body{
  padding-top:60px;
}

section{
  overflow:auto;
}

textarea{
  resize: vertical;
}

.center{
  text-align: center;
}

.center h1{
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
  line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2{
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom:30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p{
  font-size: 1.1em;
  line-height: 1.7em;
}

//header 样式
.braces-navbar-header{
	margin-left:10%;
}
//content 样式
#carousel-braces-generic{
	width:1173px;
}
//footter 样式
footer{
  margin-top:45px;
  padding-top:5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a{
  color: #555;
}

footer a:hover{
  color: #222;
}
footer small{
  float: left;
}

footer ul{
  float:right;
  list-style:none;
}

footer ul li{
  float:left;
  margin-left: 10px;
}
input, textarea, select, .uneditable-input{
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
}

.cus-home{
	padding:0 15px;
}
//article
.index-articles{
	//width:810px;
	//float:left;
}
.home-article-item{
	border-bottom: 1px #cccccc solid;
	margin-right: 10px;
	margin-bottom:10px;
	min-height:204px;
}

.home-article-image>img{
	border:1px solid #cccccc;
	height:190px;
	width:310px;
	padding:3px;
}
.home-article-image{
	float:left;
	margin-right:14px;
}
.home-article-title{
	text-align: left;
	margin-bottom:3px;
	padding-top:3px;
}
.home-article-title > a{
	color: #333;
	text-transform: none;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
}
.home-article-thubmil{
	margin-bottom:10px;
	font-size:13px;
	color:#333;
}
.home-article-tag{
	color:#999;
}
.home-article-read-more{
	margin-left:625px;
	margin-top:50px;
}
.home-article-read-more a{
	text-decoration: none;
	background: #51a351;
	color: #ffffff !important;
	padding: 4px 13px;
	display: inline-block;
}

.knowledge-title{
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	padding: 10px 10px 0;
	color: #ffffff;
	line-height: 100%;
	border-bottom: 1px solid #ddd;
	padding-bottom: 8px;
	background: #51a351;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 16px;
}

#index-about-braces{
	padding: 10px;
	margin: 0 0 20px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0px 2px rgba(0,0,0,0.7);
	box-shadow: 0 0px 2px rgba(0,0,0,0.7);
	left: 118px;
	margin-top:10px;
}

.index-about-braces-header{
	font-size: 16px;
	background: #51a351;
	font-weight: normal;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	margin: -10px -10px;
	padding: 10px 10px 0;
	margin-bottom: 8px;
	color: #ffffff;
	line-height: 100%;
	border-bottom: 1px solid #ddd;
	padding-bottom: 8px;
	text-align: center;
}
.cus-home-below{
	margin-top:20px;
}
