#user-info{
	margin-bottom:30px;
	margin-top:15px;
}
#user-info-head{
	margin-bottom:10px;
}
#user-img{
	margin-bottom: 10px;
	float: left;
	margin-right: 9px;
}
#user-info-clean{
	clear:both;
}
#user-pub-articles{
	margin-bottom:30px
}

#pub-articles-head{
	margin-top:10px;
}
#user-comment-head{
	margin-top:10px;
}
