// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bs-docs-sidenav {
width: 190px;
margin: 30px 0 0;
padding: 0;
background-color: #fff;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.bs-docs-sidenav .icon-chevron-right {
float: right;
margin-top: 2px;
margin-right: -6px;
opacity: .25;
}

.bs-docs-sidenav > li:first-child > a {
-webkit-border-radius: 6px 6px 0 0;
-moz-border-radius: 6px 6px 0 0;
border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav > li > a {
display: block;
width: 190px 9;
margin: 0 0 -1px;
padding: 8px 14px;
border: 1px solid #e5e5e5;
}

.bs-docs-sidenav > .active > a {
position: relative;
z-index: 2;
padding: 9px 15px;
border: 0;
text-shadow: 0 1px 0 rgba(0,0,0,.15);
-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
-moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.detial-content{
	margin-top:30px;
}

.custom-left{
	margin-left:270px;
}
.custom-right{
	margin-right:270px;
}

/**
	company展示页
**/
left{
	border: 1px solid #FCE69A;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.company-title{
	border: 1px solid #FCE69A;
	width: 858px;
	margin-bottom: 5px;
}

.logo{
    border: 1px solid #FCE69A;
	margin-bottom: 20px;
}
#logo-header{
	line-height: 30px;
	background-image: image-url("find_f_l_bt.jpg");
	background-repeat: repeat-x;
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FCE69A;
	font-size: 14px;
	text-indent: 10px;
	color: #990000;
	width: 100%;
}
#logo-image{
	padding: 5px;
	margin-left: 20px;
}
#logo-name{
	text-align: center;
	padding: 3px;
	margin-bottom: 4px;
}
.contact{
	border: 1px solid #FCE69A;
	margin-bottom: 20px;
}

#contact-header{
	line-height: 30px;
	background-image: image-url("find_f_l_bt.jpg");
	background-repeat: repeat-x;
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FCE69A;
	font-size: 14px;
	text-indent: 10px;
	color: #990000;
	width: 100%;
}

#contact-content{
	padding: 3px;
	margin-left: 26px;
	margin-bottom: 3px;
}

.contact-child{
	padding:3px;
}
#contact-address{
	margin-left:31px;
}

.owner{
	border: 1px solid #FCE69A;
	margin-bottom: 20px;
}
#owner-header{
	line-height: 30px;
	background-image: image-url("find_f_l_bt.jpg");
	background-repeat: repeat-x;
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FCE69A;
	font-size: 14px;
	text-indent: 10px;
	color: #990000;
	width: 100%;
}
#owner-content{
	margin-left: 25px;
	padding: 3px;
}
#owner-photo{
	padding: 3px;
	margin-bottom: 3px;
}
.owner-child{
	padding:3px;
}

.demo-content{
	/*float: left;*/
	padding: 3px;
	margin-left: 10px;
}
.about{
	border: 1px solid #FCE69A;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height:204px;
    margin-bottom:30px;
}
#about-header{
	line-height: 30px;
	background-image: image-url("find_f_l_bt.jpg");
	background-repeat: repeat-x;
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FCE69A;
	font-size: 14px;
	text-indent: 10px;
	color: #990000;
	width: 100%;
}

#demo-header{
	line-height: 30px;
	background-image: image-url("find_f_l_bt.jpg");
	background-repeat: repeat-x;
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FCE69A;
	font-size: 14px;
	text-indent: 10px;
	color: #990000;
	width: 100%;
}

.demo-title{
	padding: 5px;
	text-align: center;
	margin-top: 3px;
}
.demo{
	border: 1px solid #FCE69A;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height:310px;
    margin-bottom:30px;
}

#project-header{
	line-height: 30px;
	background-image: image-url("find_f_l_bt.jpg");
	background-repeat: repeat-x;
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FCE69A;
	font-size: 14px;
	text-indent: 10px;
	color: #990000;
	width: 100%;
}

#service-header{
	line-height: 30px;
	background-image: image-url("find_f_l_bt.jpg");
	background-repeat: repeat-x;
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FCE69A;
	font-size: 14px;
	text-indent: 10px;
	color: #990000;
	width: 100%;
}
.service{
	border: 1px solid #FCE69A;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height:189px;
}
.project{
	border: 1px solid #FCE69A;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height:189px;
}
.base-info{
	float:left;
	padding:5px;
}
