@import "bootstrap";
html {
  overflow-y:scroll;
}
body{
  padding-top:60px;
}

section{
  overflow:auto;
}

textarea{
  resize: vertical;
}

.center{
  text-align: center;
}

.center h1{
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
  line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2{
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom:30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p{
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo{
  float:left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing:-1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover{
  color: #fff;
  text-decoration: none;
}

/* footer */

footer{
  margin-top:45px;
  padding-top:5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a{
  color: #555;
}

footer a:hover{
  color: #222;
}
footer small{
  float: left;
}

footer ul{
  float:right;
  list-style:none;
}

footer ul li{
  float:left;
  margin-left: 10px;
}
input, textarea, select, .uneditable-input{
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
}

#flash_notice, #flash_alert{
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice{
  background-color: #CFC;
  border: solid 1px #6c6; 
}

#flash_alert{
  background-color: #FCC;
  border: solid 1px #C66;
}
#myCarousel{
  margin-left:9%;
  margin-top:70px;
}
.index-company{
  margin-left:5% !important;
}

#user-admin-title{
  float: left;
  margin-right:60%;
}
#operator-title{
	margin-bottom:18px;
}
.article-title{
	text-align:center;
}
.article-block{
	margin-top:30px;
	margin-bottom:30px;
}
.article-category{
	width:94px;
}
.article-content{
  margin-left:150px !important;
}

#comment-post{
	margin-left:151px !important;
	width:86px !important;
}
#comments-num{
	margin-left:0px !important;
	width:462px !important;
	padding-top:4px;
}
#comment-edit{
	width:680px;
	margin-left:19%;
}
#comment-submit{
	margin-left:90% !important;
}
.comments{
	margin-left:19%;
	margin-bottom:7px;
}
#comment-head{
	margin-top:13px;
	margin-bottom:26px;
}
.log-content{
	width:904px;
}
.article-author{
  width:132px !important;
}
.article-wrap{
  margin-top:30px;
}
.min-content{
  min-height:600px !important;
}
.recommend-company{
  margin-left:51px !important;
}
table{
	background:white;
}

.hozz-img-polaroid{
  width:200px;
  height:256px !important;
}
.hozz-title{
  margin-top: 11px;
  font-size: 32px;
  font-family: "文泉驿微米黑","正黑";
  font-weight: 100;
}
.hozz-phone{
  float:left;
  background: url("phone.png");
  height: 22px;
  padding-top: 0px;
  margin-top: 14px;
  width: 24px;
}
.hozz-phone-con{
  margin-top: 15px;
  margin-left: 31px;
}
.hozz-cont{
   margin-left: 250px !important;
   /*
    width: 100px;
    */
}


.hozz-owner-con{
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 200px;
}

.hozz-owner-header{
  border-bottom: 1px solid #f0f0f0;
  background-color: #f0f0f0;
  padding-left: 18px;
  height: 28px;
  padding-top: 7px
}
.hozz-owner-content{
	margin-top: 13px;
  /*margin-left: 39px;*/
  background: #fff;
}
.hozz-owner-content>ul{
  margin-left:18px;
}
#hozz-button{
	height:30px;
	padding-top:4px;
	margin-left:75px;
}
.hozz-com-item{
	padding-top:3px;
}
.hozz-demo-wraper{
	#border:1px solid #cccccc;
  margin-bottom:20px;
}
.hozz-demo-header{
	#border:1px solid #cccccc;
}
.hozz-demo-content{
	border-left:1px solid #cccccc;
  border-right:1px solid #cccccc;
  border-bottom:1px solid #cccccc;
  /*border-top: 1px solid #d6d6d6;*/
}
.hozz-demo-content-dynamic{
  border:1px solid #cccccc;
  /*
  border-right:1px solid #cccccc;
  border-bottom:1px solid #cccccc;
  border-top: 1px solid #d6d6d6;*/
}
#hozz-left{
	margin-right:10px;
}

.hozz-demo-header-text{
border-left: 1px solid #d6d6d6;
border-top: 1px solid #d6d6d6;
border-right: 1px solid #d6d6d6;
width: 79px;
height: 30px;
padding-left: 30px;
padding-top: 13px;
background-color: #f7f7f7;
}

.hozz-nav{
  margin-bottom:0px !important;
}
.hozz-ul{
  margin:0px;
  border-bottom:1px solid #cccccc;
  height:26px;
}
.hozz-ul > li{
  float:left;
}

.hozz-ul > li > a{
/*
  border-top:1px solid #cccccc;
  border-left: 1px solid #cccccc;
  */
padding-right: 8px;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 8px;
line-height: 20px;
height: 20px;
color: #555;
background-color: #f8f8f8;
border: 1px solid #ddd;
border-width: 1px 1px 0px 1px;
cursor: pointer;
margin-right: -1px;
}

.hozz-ul > li > a:hover{
  text-decoration: none;
  background-color: #e7e7e7;
}
.li-last{
  border-right:1px solid #cccccc
}
.hozze-clear{
  clear:both;
}

.hozz-active{
  border-bottom:1px solid #fff !important;
  background-color:#fff !important;
}
.hozz-demo-wraper-div2{
  width: 873px;
  margin-left: -20px;
}

.hozz-company-title-div2{
  margin-bottom: 54px !important;
}
.index-image{
  width:940px !important;
  height:381px !important;
}