<%= link_to "花括号后台管理系统", root_path, :class => 'brand' %>
<ul class="nav">
	<% if admin_signed_in? %>
		<li><a>欢迎管理员登录</a></li>
		<li><%= link_to '退出', destroy_admin_session_path, :method=>'delete'%></li>
	<% end %>
</ul>
