<footer class="footer">
  <small>
    <a href="#">花括号</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于我们",    about_path %></li>
      <li><%= link_to "联系我们",  contact_path %></li>
      <li><script src="http://v1.cnzz.com/z_stat.php?id=1000417021&web_id=1000417021" language="JavaScript"></script></li>
    </ul>
  </nav>
</footer>
